
=# link_to 'coesfau.com', 'https://coesfau.com/'

= "Estimad#{@genero}: <b>#{@nombre}</b>,".html_safe
  
%p= "Archivo de generación larga adjunto".html_safe

%p Favor estar atento a la fecha de inicio de las clases.
 
%p Saludos cordiales.