- begin
  - if image 
    -# En PDF evitamos abrir enlaces y usamos ruta local para optimizar wkhtmltopdf
    - if defined?(wicked_pdf_image_tag)
      = wicked_pdf_image_tag main_app.url_for(image), size: size, alt: alt
    - else
      = image_tag main_app.url_for(image), size: size, alt: alt
  - else
    .alert.alert-warning Sin Imagen
- rescue Exception => e
  



